.login_input {
  width: 324.01px;
  height: 65px;
  border: 1px solid rgb(238, 238, 238);
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
  box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
  background: var(--body-text-color);

  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.login_input::placeholder {
  color: rgb(196, 196, 196);
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.promo {
  position: relative;
  flex-grow: 1;
  border-radius: 10px 20px 20px 10px;
  height: 41px;
  padding-left: 15px;
}

.promo_false{
  position: relative;
  flex-grow: 1;
  border-radius: 10px 20px 20px 10px;
  height: 41px;
  padding-left: 15px;
  background: rgb(192, 54, 54)
}

.promo_false::placeholder{
  color: aliceblue;
}