.button {
  font-family: inherit;
  cursor: pointer;
  transition: background 0.25s;
  border: none;
  color: var(--body-text-color);
  border-radius: 29px;
  font-style: normal;
  font-weight: 400;
}

.small {
  font-size: 16px;
  padding: 10px 25px;
}

.big {
  max-width: 248px;
  height: 60px;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);

  font-size: 15px;
  font-weight: 600;
  line-height: 20px;

  margin-top: 25px;
}

.accent {
  background: var(--primary-color);
}

.accent:hover {
  background: var(--primary-hover-color);
}
.cart {
  position: absolute;
  width: 34px;
  height: 34px;
  bottom: 100px;
  right: 10px;

  box-shadow: 0px 8.5px 18.21px 0px rgba(254, 114, 76, 0.4);
  background: var(--primary-color);
}

.registration {
  max-width: 248px;
  height: 60px;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);

  font-weight: 600;
  line-height: 20px;
  text-align: center;

  margin-top: 25px;
}

.decrement {
  box-sizing: border-box;
  border: 1px solid rgb(254, 114, 76);
  border-radius: 17px;
  background: none;
  box-shadow: 0px 20px 30px 0px rgb(238, 240, 242);

  width: 28.28px;
  height: 28.28px;
}

.increment {
  width: 28.28px;
  height: 28.28px;
  border-radius: 17px;

  box-shadow: 0px 7px 15px 0px rgba(254, 114, 76, 0.4);
  background: rgb(254, 114, 76);
}

.delete_item {
  width: 28.28px;
  height: 28.28px;
  background: none;
}

.clear_cart {
  box-sizing: border-box;
  border: 1px solid rgb(254, 114, 76);
  border-radius: 17px;
  background: none;
  box-shadow: 0px 20px 30px 0px rgb(238, 240, 242);

  width: 40px;
  height: 40px;
}

.promo {
  font-size: 16px;
  padding: 10px 25px;
  right: 0;
  position: absolute;
}

.back_menu {
  width: 38px;
  height: 38px;

  box-shadow: 5px 10px 20px 0px rgba(211, 209, 216, 0.3);
  background: rgb(255, 255, 255);
}
