.container {
  display: flex;
  width: 100%;
}

.logo {
  flex: 1;
  display: grid;
  align-items: center;
}

.login {
  flex: 1;
  display: grid;
  align-items: center;

  border-left: 1px solid var(--separator-color);
}

.logo_img {
  max-width: 363px;
  max-height: 273.69px;
  width: 100%;
}
@media (max-width: 600px) {
  .logo {
    display: none;
  }
  .login{
    border: none;
  }
}
