.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  width: 100%;
}
@media (max-width: 670px) {
  .header {
    flex-direction: column;
  }
}
