h2 {
  /* Меню */
  color: var(--text-color);
}

.menu_headlin {
  font-family: Open Sans;
  font-size: 36.41px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
}

.product_title {
  width: 264px;
  height: 18px;

  font-size: 18.21px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;

  margin: 13px 10px 0;
}

.login_headlin {
width: 247px;
height: 40px;

font-size: 36.41px;
font-weight: 600;
text-align: left;
}
