#root {
  display: flex;
  max-width: 1055px;
  height: 832px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: rgb(255, 255, 255);

  @media (max-width: 700px) {
    /* Здесь прописывается CSS-правила */
    flex-direction: column
  }
}
